<link rel="stylesheet" href="css/style.css">

<body id="body">
    <div class="containerInput">
        <button class="input" type="button">

            <div class="profil">
                <div class="element">
                    <div style="height: 70px;width: 70px; overflow: hidden;border-radius: 50px;">
                        <img class="pdp" src="img/damipdp.png" alt="PDP">
                    </div>
                    <div class="name">
                        <h1>Damien Goussin</h1>
                        <p class="description">Devellopeur Web</p>
                    </div>
                </div>

                <img class="arrow" src="img/left-arrow.png" alt="" srcset="">
            </div>
            <div class="identity">

                <a href="">
                    <div> Instagram</div>
                </a>
                <a href="">
                    <div> CodePen</div>
                </a>
                <a href="">
                    <div> GitLab</div>
                </a>
                <a href="">
                    <div> goussindamien@gmail.com</div>
                </a>
            </div>


        </button>
        <button class="input" type="button">

            <div class="profil">
                <div class="element">
                    <div style="height: 70px ;width: 70px; overflow: hidden;border-radius: 50px;">
                        <img class="pdp" src="img/images.jpeg" alt="PDP">
                    </div>


                    <div class="name">
                        <h1>Jean Aimarre</h1>
                        <p class="description">Chef D equipe</p>
                    </div>
                </div>

                <img class="arrow" src="img/left-arrow.png" alt="" srcset="">
            </div>
            <div class="identity">

                <a href="">
                    <div>Instagram</div>
                </a>
                <a href="">
                    <div> CodePen</div>
                </a>
                <a href="">
                    <div> GitLab</div>
                </a>
                <a href="">
                    <div> goussindamien@gmail.com</div>
                </a>
            </div>


        </button>
        <button class="input" type="button">

            <div class="profil">
                <div class="element">
                    <div style="height: 70px;width: 70px; overflow: hidden;border-radius: 50px;"><img class="pdp"
                            src="img/index2.jpeg" alt="PDP">
                    </div>
                    <div class="name">
                        <h1>Martine Legrand</h1>
                        <p class="description">Web Designer</p>
                    </div>
                </div>

                <img class="arrow" src="img/left-arrow.png" alt="" srcset="">
            </div>
            <div class="identity">
                <a href="">
                    <div>Instagram</div>
                </a>
                <a href="">
                    <div> CodePen</div>
                </a>
                <a href="">
                    <div> GitLab</div>
                </a>
                <a href="">
                    <div> goussindamien@gmail.com</div>
                </a>
            </div>


        </button>
    </div>
</body>

<style>
    @import url("https://fonts.googleapis.com/css2?family=M+PLUS+1p&display=swap");

    * {
        box-sizing: border-box;
    }

    #body {
        background: hsl(210, 13%, 79%);
    }

    .containerInput {
        width: 80vw;
        margin: 0vh auto;
        display: grid;
        margin-top: 20vh;
    }

    .input {
        background: #f1f1f8;
        border-radius: 20px;
        padding: 10px;
        width: 320px;
        height: 90px;
        overflow: hidden;
        border: 0;
        margin: 0.5vh auto;
        transition: all 0.5s;
        cursor: pointer;
    }

    .profil {
        width: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .name {
        font-size: 11px;
        margin-left: 12px;
    }

    .element {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    .arrow {
        rotate: 180deg;
        width: 20px;
        opacity: 0;
        padding: 0 3px;
        transition: all 0.5s;
        margin-right: 2px;
    }

    .description {
        font-size: 0px;
        text-align: start;
        margin: 0;
    }

    .profil:hover .arrow {
        opacity: 1;
    }

    .input:focus .profil {
        cursor: auto;
    }

    .identity {
        opacity: 0;
        height: auto;
        transition: all 0.5s;
    }

    .identity div {
        width: 80%;
        display: grid;
        height: auto;
        margin: 10px auto;
        border-radius: 7px;
        padding: 15px;
        text-align: center;
        letter-spacing: 2px;
    }

    a {
        text-decoration: none;
        color: #000;
    }

    h1 {
        margin: 0;
        font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    }

    .input:hover {
        background: #fff;
        width: 322px;
        margin: 0.5vh auto;
        box-shadow: 1px 5px 1px rgb(170, 156, 156);
    }

    .input:focus {
        height: 360px;
        width: 322px;
        background: #fff;
        box-shadow: 1px 5px 1px rgb(170, 156, 156);
    }

    .input:focus:nth-child(1) .identity div {
        background: #e9fcf6;
    }

    .input:focus:nth-child(2) .identity div:hover {
        background: rgb(255, 248, 180);
    }

    .input:focus:nth-child(3) .identity div:hover {
        background: #fad7f8;
    }

    .input:focus .identity {
        opacity: 1;
        margin: 2vh 0;
    }

    .input:focus .profil .element .name .description {
        font-size: 15px;
        transition: all 0.5s;
    }

    .input:focus .arrow {
        opacity: 0;
    }

    .pdp {
        width: 100%;
    }

    @media (max-width: 800px) {
        .input {
            background: #f1f1f8;
            border-radius: 20px;
            padding: 10px;
            width: 80%;
            height: 45px;
            overflow: hidden;
            border: 0;
            margin: 1vh auto;
            transition: all 0.5s;
            cursor: pointer;
        }

        h1 {
            font-size: 10px;
            text-align: start;
            margin: 0;
        }

        .input:focus .profil .element .name .description {
            font-size: 7px;
            transition: all 0.5s;
        }

        .input:hover {
            background: #fff;
            width: 82%;
            margin: 0.4vh auto;
            box-shadow: 1px 5px 1px rgb(170, 156, 156);
        }

        .input:focus {
            height: 360px;
            width: 82%;
            background: #fff;
            box-shadow: 1px 5px 1px rgb(170, 156, 156);
        }
    }
</style>
<script src="js/script.js">

</script>