<body>
    <main class="container">
        <div class="card">
            <img src="img/virtual-reality-headset-graphic.jpg" alt="ZUT">
            <div class="article">
                <h1 class="title up">Lorem</h1>
                <p class="description up">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe rem atque
                    beatae molestias id commodi
                    reiciendis ducimus autem consequuntur, nobis enim excepturi aspernatur necessitatibus pariatur.</p>
                <button class="btn-more up">Voir plus</button>
            </div>
        </div>
        <div class="card">
            <img src="img/1113006.jpg" alt="ZUT">
            <div class="article">
                <h1 class="title up">Lorem</h1>
                <p class="description up">Lorem ipsum dolor, sit amet consectetur adipisicing elit. Saepe rem atque
                    beatae molestias id commodi
                    reiciendis ducimus autem consequuntur, nobis enim excepturi aspernatur necessitatibus pariatur.</p>
                <button class="btn-more up">Voir plus</button>
            </div>
        </div>
    </main>
</body>
<style>
    /* @import url("https://fonts.googleapis.com/css2?family=M+PLUS+1p&display=swap"); */
    * {
        box-sizing: border-box;
        padding: 0;
        margin: 0;
    }

    body {
        background: rgb(183, 232, 234);
        /* font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif; */
    }

    .container {
        margin: 20vh auto;
        display: flex;
        justify-content: center;
    }

    .up {
        opacity: 0;
        transform: translateY(-20px);
        transition: 0.3s;
        transition-delay: 0.5s;
    }

    .card {
        width: 500px;
        height: 320px;
        margin: 20px 100px;
        border-radius: 20px;
        background: #FFF;
        color: #000;
        overflow: hidden;
        transition: all 0.5s;
    }

    img {
        width: 500px;
        height: 320px;
        position: absolute;
        z-index: 3;
        border-radius: 20px;
        transition: 0.5s;
    }

    .article {
        position: relative;
        margin: 10% 0 0 35%;
        width: 55%;
    }

    .title {
        margin: 20px 0;
        color: rgb(75, 75, 247);
    }

    .btn-more {
        position: relative;
        left: 70%;
        margin: 20px 0;
        border: 0;
        padding: 10px;
        transform: translateX(-35px);
        border-radius: 10px;
        background: darkorange;
        cursor: pointer;
    }

    .btn-more:active {
        filter: brightness(120%);
        padding: 9.5px;
    }

    .card:hover img {
        width: 14%;
        height: 15%;
        margin-top: 90px;
        transform: translateX(-120px);
        border-radius: 10px;
        transition: all 0.5s;
    }

    .card:hover .up {
        opacity: 1;
        transform: translateY(0);

    }

    .card:hover .btn-more {
        transform: translateX(0px);
    }

    @media (max-width: 1200px) {
        .container {
            display: grid;
            flex-direction: column;
            margin: 0 auto;
            transition: all 0.5s;
            border-radius: 25px;
            padding: 10px;
            width: 90vw;
        }

        .card {
            margin-top: 10vh;
        }

        .card:hover img {
            width: 250px;
            height: 15%;
            margin-left: 125px;
            transform: translateY(-160px);
            border-radius: 10px;
        }

        .article {
            position: relative;
            margin: 10vh auto;
            width: 90%;
            text-align: center;
        }

        .btn-more {
            left: 0;
            margin: 20px auto;
            border: 0;
            padding: 10px;
            border-radius: 10px;
            background: darkorange;
            cursor: pointer;
            transform: translateY(35px);
        }

        .card:hover .btn-more {
            transform: translateY(0px);
        }
    }
</style>